In [1]:
import pandas as pd
import numpy as np
import os
import sys

In [2]:
def array_to_nested_dict(key, input_array):
    output_dict = {}

    for d in input_array:
        k = d[key]
        if k in output_dict:
            del d[key]
            output_dict[k].append(d)
        else:
            del d[key]
            output_dict[k] = [d]
    return output_dict

In [3]:
def iterate_through_keys(myDict, keys):
    this_key = keys[0]
    for k, v in myDict.items():
        myDict[k] = array_to_nested_dict(this_key, v)
    if len(keys) > 1:
        return iterate_through_keys(myDict[k], keys[1:])

In [4]:
input_array = [
  {"country": "US", "city": "Boston", "currency": "USD", "amount": 100},
  {"country": "FR", "city": "Paris", "currency": "EUR", "amount": 20},
  {"country": "FR", "city": "Lyon", "currency": "EUR", "amount": 11.4},
  {"country": "ES", "city": "Madrid", "currency": "EUR", "amount": 8.9},
  {"country": "UK", "city": "London", "currency": "GBP", "amount": 12.2},
  {"country": "UK", "city": "London", "currency": "FBP", "amount": 10.9}
]

In [10]:
keys = []
if not None:
    print("Here")
else:
    print("Nope")

Here

In [6]:
keys = ['currency', 'country', 'city']

output_dict = array_to_nested_dict(keys[0], input_array)
iterate_through_keys(output_dict, keys[1:])

In [7]:
output_dict

{'USD': {'US': [{'city': 'Boston', 'amount': 100}]},
 'EUR': {'FR': [{'city': 'Paris', 'amount': 20},
   {'city': 'Lyon', 'amount': 11.4}],
  'ES': [{'city': 'Madrid', 'amount': 8.9}]},
 'GBP': {'UK': [{'city': 'London', 'amount': 12.2}]},
 'FBP': {'UK': {'London': [{'amount': 10.9}]}}}

In [16]:
import json

In [20]:
myString = '{"data": [{'A': 'aardvark', 'B': 'boat', 'C': 'cabbage', 'D': 'diego costa'}, {'A': 'aardvark', 'B': 'ball', 'C': 'crisps', 'D': 'david beckham'},{'A': 'ant', 'B': 'ball', 'C': 'chocolate', 'D': 'dennis bergkamp'}, {'A': 'ant', 'B': 'bat', 'C': 'chocolate', 'D': 'declan rice'}]}"

In [21]:
json.loads(myString)

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [25]:
def parse_request_params(p):
    return p.split(',')

parse_request_params('A,B')

['A', 'B']